.insta-ref,
.github-ref,
.linkedin-ref,
.facebook-ref {
  color: rgba(255, 255, 255, 0.9);
}

.insta-contact-icon {
  height: 3em;
  margin-bottom: 0.3em;
  margin-left: 0.3em;
  margin-right: 0.2em;
}

.linkedin-contact-icon {
  height: 4em;
  margin-bottom: 0.3em;
  margin-left: -0.2em;
  margin-right: -0.2em;
}

.facebook-contact-icon {
  height: 3em;
  margin-left: -0.7em;
  margin-right: -0.75em;
  margin-top: -0.4em;
}

.github-contact-icon {
  height: 2em;
  margin-left: 0.9em;
  margin-right: 0.7em;
}

.insta-box {
  margin-bottom: 0.8em;
}

.facebook-box {
  margin-bottom: 0.3em;
}

.github-box {
  padding-top: 0.5em;
}
