@use 'sass:math';

$menu-item-bg-color: #ff0077;
$menu-item-color: #ffffffe1;
$menu-item-hovered-color: #ffffffbe;
$menu-item-font-size: 18px;
$menu-item-width: 40%;
$menu-item-width-tablet: 50%;
$menu-item-width-mobile: 80%;
$menu-item-height: 40px;
$menu-item-border: 5px solid $menu-item-color;
$menu-item-left-position: 30%;
$menu-item-left-position-tablet: 25%;
$menu-item-left-position-mobile: 10%;
$menu-item-position-spacer: 60px;
$footer-container-width: 100%;
$footer-container-height: 35px;
$footer-bottom-position: 0;
$footer-label-bottom-position: 0;
$footer-label-left-position: 0;
$footer-label-font-size: 13px;
$footer-label-move-x-start-position: 160%;
$footer-label-move-x-end-position: -200%;

.menu-item-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__wine {
    height: 200px;
    height: calc(65vh - 250px);
    padding-top: calc(3vh - 10px);
    padding-bottom: calc(6vh - 10px);
  }

  &__menu-item {
    position: absolute;
    left: $menu-item-left-position;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $menu-item-width;
    height: $menu-item-height;
    border: $menu-item-border;
    color: $menu-item-color;
    cursor: pointer;

    &:hover {
      color: $menu-item-hovered-color;
    }

    h1,
    h2,
    h3,
    h4 {
      font-size: $menu-item-font-size;
      margin: 0;
    }
  }

  @for $i from 1 through 7 {
    .menu-item-container__menu-item--#{$i} {
      background-color: lighten($menu-item-bg-color, $i * 1%);
      animation: MoveUpDown#{$i} 1s linear infinite;
    }
    @keyframes MoveUpDown#{$i} {
      0%,
      100% {
        top: $i * $menu-item-position-spacer +
          math.div($menu-item-position-spacer, 3);
      }
      50% {
        top: $i * $menu-item-position-spacer +
          math.div($menu-item-position-spacer, 2);
      }
    }
  }

  @media only screen and (max-width: 1280px) {
    $header-color: #ff0077;
    $menu-item-border: 4px solid $menu-item-color;

    .menu-item-container__mobile-header {
      h1 {
        color: $header-color;
        font-size: 35px;
      }
      h2 {
        color: $header-color;
        font-size: 30px;
      }
      h3 {
        color: $header-color;
        font-size: 45px;
        font-style: "italic";
      }
    }

    &__menu-item {
      width: $menu-item-width-tablet;
      left: $menu-item-left-position-tablet;
      color: $menu-item-color;
      border: $menu-item-border;
      &:hover {
        color: $menu-item-hovered-color;
      }
    }

    @for $i from 1 through 3 {
      .menu-item-container__menu-item--#{$i} {
        background-color: $menu-item-bg-color;
        animation: MoveUpDown#{$i} 1s linear infinite;
      }
      @keyframes MoveUpDown#{$i} {
        0%,
        100% {
          bottom: (4 - $i) * $menu-item-position-spacer +
            math.div($menu-item-position-spacer, 3);
        }
        50% {
          bottom: (4 - $i) * $menu-item-position-spacer +
            math.div($menu-item-position-spacer, 2);
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    &__menu-item {
      width: $menu-item-width-mobile;
      left: $menu-item-left-position-mobile;
    }
  }
}

.footer-container {
  position: absolute;
  bottom: $footer-bottom-position;
  overflow: hidden;
  width: $footer-container-width;
  height: $footer-container-height;

  &__floating-label {
    position: absolute;
    bottom: $footer-label-bottom-position;
    left: $footer-label-left-position;
    font-size: $footer-label-font-size;
    overflow: hidden;
    white-space: nowrap;
    background-color: black;
    animation: FooterMove 30s linear infinite;

    @keyframes FooterMove {
      0% {
        transform: translate($footer-label-move-x-start-position, 0);
      }
      100% {
        transform: translate($footer-label-move-x-end-position, 0);
      }
    }
  }
}

.snowflakes {
  display: none;

  @media only screen and (max-width: 1280px) {
    display: block;

    .snowflake {
      color: #fff;
      font-size: 1em;
      font-family: Arial;
      text-shadow: 0 0 1px #000;
    }

    @-webkit-keyframes snowflakes-fall {
      0% {
        top: -10%;
      }
      100% {
        top: 100%;
      }
    }
    @-webkit-keyframes snowflakes-shake {
      0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
      }
      50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
      }
      100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
      }
    }
    @keyframes snowflakes-fall {
      0% {
        top: -10%;
      }
      100% {
        top: 100%;
      }
    }
    @keyframes snowflakes-shake {
      0% {
        transform: translateX(0px);
      }
      50% {
        transform: translateX(80px);
      }
      100% {
        transform: translateX(0px);
      }
    }
    .snowflake {
      position: fixed;
      top: -10%;
      z-index: 9999;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: default;
      -webkit-animation-name: snowflakes-fall, snowflakes-shake;
      -webkit-animation-duration: 10s, 3s;
      -webkit-animation-timing-function: linear, ease-in-out;
      -webkit-animation-iteration-count: infinite, infinite;
      -webkit-animation-play-state: running, running;
      animation-name: snowflakes-fall, snowflakes-shake;
      animation-duration: 10s, 3s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      animation-play-state: running, running;
    }
    .snowflake:nth-of-type(0) {
      left: 1%;
      -webkit-animation-delay: 0s, 0s;
      animation-delay: 0s, 0s;
    }
    .snowflake:nth-of-type(1) {
      left: 10%;
      -webkit-animation-delay: 1s, 1s;
      animation-delay: 1s, 1s;
    }
    .snowflake:nth-of-type(2) {
      left: 20%;
      -webkit-animation-delay: 6s, 0.5s;
      animation-delay: 6s, 0.5s;
    }
    .snowflake:nth-of-type(3) {
      left: 30%;
      -webkit-animation-delay: 4s, 2s;
      animation-delay: 4s, 2s;
    }
    .snowflake:nth-of-type(4) {
      left: 40%;
      -webkit-animation-delay: 2s, 2s;
      animation-delay: 2s, 2s;
    }
    .snowflake:nth-of-type(5) {
      left: 50%;
      -webkit-animation-delay: 8s, 3s;
      animation-delay: 8s, 3s;
    }
    .snowflake:nth-of-type(6) {
      left: 60%;
      -webkit-animation-delay: 6s, 2s;
      animation-delay: 6s, 2s;
    }
    .snowflake:nth-of-type(7) {
      left: 70%;
      -webkit-animation-delay: 2.5s, 1s;
      animation-delay: 2.5s, 1s;
    }
    .snowflake:nth-of-type(8) {
      left: 80%;
      -webkit-animation-delay: 1s, 0s;
      animation-delay: 1s, 0s;
    }
    .snowflake:nth-of-type(9) {
      left: 90%;
      -webkit-animation-delay: 3s, 1.5s;
      animation-delay: 3s, 1.5s;
    }
  }
}
