@use 'sass:math';

$menu-item-bg-color: #ac40a1;
$menu-item-color: #ffffff8c;
$menu-item-hovered-color: #ffffffb9;
$menu-item-font-size: 18px;
$menu-item-width: 400px;
$menu-item-width-tablet: 50%;
$menu-item-width-mobile: 80%;
$menu-item-width: 400px;
$menu-item-height: 40px;
$menu-item-border: 5px solid $menu-item-color;
$menu-item-left-position: 10px;
$menu-item-left-position-tablet: 25%;
$menu-item-left-position-mobile: 10%;
$menu-item-position-spacer: 60px;
$footer-container-width: 100%;
$footer-container-height: 35px;
$footer-bottom-position: 0;
$footer-label-bottom-position: 0;
$footer-label-left-position: 0;
$footer-label-font-size: 13px;
$footer-label-move-x-start-position: 160%;
$footer-label-move-x-end-position: -200%;

.menu-item-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &__menu-item {
    position: absolute;
    left: $menu-item-left-position;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $menu-item-width;
    height: $menu-item-height;
    border: $menu-item-border;
    color: $menu-item-color;
    cursor: pointer;

    &:hover {
      color: $menu-item-hovered-color;
    }

    h1,
    h2,
    h3,
    h4 {
      font-size: $menu-item-font-size;
      margin: 0;
    }
  }

  @for $i from 1 through 7 {
    .menu-item-container__menu-item--#{$i} {
      background-color: lighten($menu-item-bg-color, $i * 1%);
      animation: MoveUpDown#{$i} 1s linear infinite;
    }
    @keyframes MoveUpDown#{$i} {
      0%,
      100% {
        top: $i * $menu-item-position-spacer + math.div($menu-item-position-spacer, 3);
      }
      50% {
        top: $i * $menu-item-position-spacer + math.div($menu-item-position-spacer, 2);
      }
    }
  }

  @media only screen and (max-width: 1280px) {
    &__menu-item {
      width: $menu-item-width-tablet;
      left: $menu-item-left-position-tablet;
    }
  }

  @media only screen and (max-width: 600px) {
    &__menu-item {
      width: $menu-item-width-mobile;
      left: $menu-item-left-position-mobile;
    }
  }
}

.footer-container {
  position: absolute;
  bottom: $footer-bottom-position;
  overflow: hidden;
  width: $footer-container-width;
  height: $footer-container-height;

  &__floating-label {
    position: absolute;
    bottom: $footer-label-bottom-position;
    left: $footer-label-left-position;
    font-size: $footer-label-font-size;
    overflow: hidden;
    white-space: nowrap;
    background-color: black;
    animation: FooterMove 30s linear infinite;

    @keyframes FooterMove {
      0% {
        transform: translate($footer-label-move-x-start-position, 0);
      }
      100% {
        transform: translate($footer-label-move-x-end-position, 0);
      }
    }
  }
}
