.half-block {
    height: 40vh;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.55);
    cursor: pointer;
}

.welcome a:hover
{
    text-decoration: none;
}

.welcome-text-block {
    padding: 2em;
    position: absolute;
}

.upper-block {
    background: url("/img/sponsors_page/whiskey.jpg");
}

.lower-block {
    background: url("/img/sponsors_page/bar_black.jpg");
}

h1.welcome {
    font-size: 3em;
}

h2.welcome {
    font-size: 1.5rem;
}

h3.welcome {
    font-size: 3em;
}

h4.welcome {
    font-size: 1.5rem;
}

h5.welcome {
    padding-top: 4em;
    font-size: 0.8em;
}

p.welcome {
    font-size: 0.8em;
}

.mode-parent-block {
    width: 100%;
}

.mode-block {
    float: left;
    width: 50%;
    padding: 2em;
}

.mode-block img{
    width: 25%;;
}

.mode-parent-block a {
    color: rgba(255, 255, 255, 0.55);
}


@media only screen and (max-width: 501px) {
    .half-block h1,
    .half-block h3 {
        font-size: 2em;
     }
    .half-block h2,
    .half-block h4 {
        padding: 0.3em;
        font-size: 1.1em;
     }
     .mode-block h1,
     .mode-block h3
     {
        font-size: 1.5rem;
    }
     .mode-block img{
        width: 50%;
    }
}