$page-background: transparent;

.drinking-game {
  background-color: $page-background;

  &__selected {
    margin-bottom: 75px;
  }

  &__header {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  &__paragraph {
    margin-top: 30px;
    margin-bottom: 25px;
  }

  &__source {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__card {
    margin: 10px auto;
    background-color: white;
    width: 240px;
    height: 340px;
    text-align: center;
    border-radius: 7px;
    color: black;
    padding: 30px;
  }

  &__image {
    max-width: 500px;
    display: block;
    margin: auto;
  }
}
