//sizes
$card-width: 320px;
$card-height: 480px;
$card-padding: 10px;

//colors
$card-button: #1a1a1a;
$card-button-text-hover: #ebebeb;
$light-shadow: #0000004d;
$dark-shadow: #000000c4;

//fonts
$normal-card-font: 19px;
$special-card-font: 26px;
$button-font: 14px;

//spacer
$card-spacer-unit: 4px;

.c-game-card {
  &--active &__flipper {
    transform: rotateY(180deg);
  }

  &,
  &__front,
  &__back {
    width: $card-width;
    height: $card-height;
  }

  &__flipper {
    transition: 0.75s;
    transform-style: preserve-3d;
  }

  &__front,
  &__back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid black;
    box-shadow: 0 -2px 10px $dark-shadow;
  }

  &__front {
    transform: rotateY(180deg);
    background-color: white;
    text-align: center;
  }

  &__normal-content {
    position: relative;
    top: 30%;
    padding: $card-padding;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    color: black;
    font-size: $normal-card-font;
  }

  &__special-content {
    height: 100%;
    padding: $card-padding;
    position: relative;
    text-align: center;
    color: black;
    &-header {
      margin: $card-spacer-unit * 10 0 $card-spacer-unit * 6 0;
      font-size: $special-card-font * 2.5;
    }
    &-subheader {
      margin: $card-spacer-unit * 2 $card-spacer-unit * 7 $card-spacer-unit * 3;
      font-size: $special-card-font * 0.8;
    }
    &-paragraph {
      margin: $card-spacer-unit * 10 $card-spacer-unit * 10;
      font-size: $special-card-font * 0.6;
    }
    &-label {
      font-size: $special-card-font * 0.5;
      margin-bottom: $special-card-font;
    }
    &-input {
      width: 185px;
      height: 33px;
    }
    &-button {
      position: absolute;
      width: $card-width / 3;
      right: 20px;
      top: 25%;
      background-color: $card-button;
      color: white;
      border-radius: 0;
      box-shadow: 2px 3px $light-shadow;
      font-size: $button-font;
    }
    &-button:hover,
    &-button:focus {
      color: $card-button-text-hover;
    }
    &-name {
      display: flex;
    }
    &-delete {
      color: red;
      cursor: pointer;
    }
  }

  &__button {
    position: absolute;
    width: $card-width / 2;
    right: 25%;
    bottom: 5%;
    background-color: $card-button;
    color: white;
    border-radius: 0;
    box-shadow: 2px 3px $light-shadow;
    font-size: $button-font;
  }

  &__button:hover,
  &__button:focus {
    color: $card-button-text-hover;
  }

  &__back {
    transform: rotateY(0deg);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__logo {
    max-width: 50%;
    max-height: 40%;
  }
}
