/* override some bootstrap dark theme styles*/
#bootstrap-navbar {
  background-color: transparent !important;

  .lang-logo {
    height: 1.2rem;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
  }

  .navbar-brand {
    @media only screen and (max-width: 1280px) {
      display: none;
    }
  }

  .nav-link {
    color: #ffffffd6;
  }

  .nav-link:hover {
    color: #ffffff9a;
  }

  .nav-dropdown {
    color: #ffffffd6;
    border: 0;
    padding-top: 7px;
    background-color: transparent !important;
  }

  .nav-dropdown:hover {
    color: #ffffff9a;
  }

  .nav-dropdown-item,
  .nav-dropdown-item:hover {
    background-color: transparent !important;
    color: #ffffffd6;
  }

  .nav-dropdown-item:hover {
    color: #ffffff9a;
  }

  .navbar-brand {
    font-size: 17px;
    margin-left: 5px;
  }

  .navbar-collapse.show {
    background-color: transparent !important;
    z-index: 2;
  }

  .navbar-toggler {
    border-color: transparent;
    color: #ffffffd6 !important;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0;
  }
}
