body {
  background-color: #1a1a1a !important;
  color: rgba(255, 255, 255, 0.5);
}

a {
  color: #d3f42f;
}

a:hover {
  color: #b2cf22;
}

.hidden {
  visibility: hidden;
}

.centered {
  text-align: center;
}

.page-frame {
  padding: 2em;
}

.page-frame.black-background {
  background-color: black;
}

@media only screen and (max-width: 321px) {
  .page-frame {
    padding: 0em;
  }
}

@media only screen and (max-width: 361px) {
  .page-frame {
    padding: 0.3em;
  }
}
