html,
body {
  padding: 0;
  margin: 0;
  font-family: "ZIG";
  background-image: url("/img/menu_page/retro.png");
  background-size: cover;
  color: #ffffffd6;
}

a {
  text-decoration: none;
  color: #d3f42f;
}

a:hover {
  color: #b2cf22;
}

* {
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
}

.show-only-mobile {
  display: none;
}

.show-only-desktop {
  display: block;
}

@media only screen and (max-width: 1280px) {
  .show-only-mobile {
    display: block;
  }

  .show-only-desktop {
    display: none;
  }
}

.centered {
  text-align: center;
}

.page-frame {
  padding: 2em;
}

.page-frame.black-background {
  background-color: black;
}

@font-face {
  font-family: "ZIG";
  src: url("/fonts/zig/zig_hu.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@media only screen and (max-width: 321px) {
  .page-frame {
    padding: 0em;
  }
}

@media only screen and (max-width: 361px) {
  .page-frame {
    padding: 0.3em;
  }
}

@media only screen and (max-width: 1280px) {
  html,
  body {
    background-image: url("/img/menu_page/snow.png");
  }
}
