html,
body {
  padding: 0;
  margin: 0;
  font-family: "ZIG";
  background-image: url("/img/retro.png");
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "ZIG";
  src: url("/fonts/zig/zig.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@media only screen and (max-width: 1280px) {
  html,
  body {
    background-size: revert;
    background-position-x: center; /* Center the image */
    background-position-y: top; /* Center the image */
  }
}
